# Renombra este archivo a .env e ingresa las variables según corresponda
# Para el proyecto estamos usando Open-Meteo que no requiere API KEY obligatoria
VITE_API_URL=https://api.open-meteo.com/v1/forecast

# Si en un futuro se decide usar OpenWeatherMap u otra API que requiera key
# VITE_WEATHER_API_KEY=tu_api_key_aqui
